.targetList {
    width: 100%;
    // padding: 50px 120px;
    padding: 3.1% 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .targetList__left {
        // width: 50%;
        // width: 411px;
        width: 30.4%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .targetList__right {
        // width: 50%;
        // width: 332px;
        width: 24.6%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}