.titlePrint {
    display: block;
    font-family:  "Kis BT Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #884234;
}
@media (max-width: 1680px) {
    .titlePrint {
        font-size: 32px;
        line-height: 38px;
    }
}
@media (max-width: 1536px) {
    .titlePrint {
        font-size: 30px;
        line-height: 36px;
    }
}
@media (max-width: 1440px) {
    .titlePrint {
        font-size: 26px;
        line-height: 32px;
    }
}
@media (max-width: 1280px) {
    .titlePrint {
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 1024px) {
    .titlePrint {
        font-size: 22px;
        line-height: 28px;
    }
}